<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../public/styles/portfolio.css" />
    <title>Kayla McDanel Portfolio</title>
</head>

<body>
    <div class="nav-first">
      <nav>
        <ul>
            <li>
                <a href="../views/index.html">Home</a>
            </li>
            <li><a href="../views/dev.html">Dev Projects</a></li>
            <li><a href="../views/design.html">Design Projects</a></li>
            <li><a href="https://www.linkedin.com/in/kayla-mcdanel/" target="_blank">
                <span class="fab fa-linkedin" aria-hidden="true"></span>
                <span class="sr-only">LinkedIn</span>
                </a>
            </li>
            <li><a href="https://www.github.com/sowdapop" target="_blank">
                <span class="fab fa-github-square" aria-hidden="true"></span>
                <span class="sr-only">Github</span>
                </a>
            </li>
            <li><a href="../public/docs/ksmcv.pdf" target="_blank" class="button">Resume</a>
            </li>
        </ul>
      </nav>
    </div>

    <div class="nav-sec"></div>
    
  
    <div class="section-blue">
      <section id="projects">
        <h1>Dev Projects</h1>

        <h5>
          These projects were built while enrolled in the Web Development program at Bellevue University.
        </h5>
        <div class="gradient"></div></br>

        <article>
          <div class="text">
            <h4>WEB 450</h4>
            <h3>Bob's Computer Repair Shop</h3>
            <p class="blackbox">
              A web application for a fictitious computer repair store. As the final assignment for Bellevue University
              this group project had requirements for components, pages, color schemes, and functionality. Our group chose to
              create an internal facing application, employing user roles to limit access.
              <a href=" https://huff-bcrs.onrender.com/#/">Take a look here</a>.
                </p>
                <h4>Technologies used include:</h4>
                <ul>
                    <li>MEAN Stack</li>
                    <li>Material Design</li>
                    <li>GitHub Pages</li>
                    <li>Render</li>
                </ul>
                </div>
                <img src="../public/images/bcrs.png" alt="Screenshot of the BCRS." />
                </article>

        <article class="reverse">
          <div class="text">
              <h4>WEB 425</h4>
              <h3>Loan Calculator</h3>
              <p class="blackbox">
                An Angular application which calculates monthly payments and interest paid.
                  <a href="https://sowdapop.github.io/loan-calculator">Take a look here</a>.
              </p>
              <h4>Technologies used include:</h4>
              <ul>
                  <li>Angular</li>
                  <li>Material Design</li>
                  <li>TypeScript</li>
                  <li>GitHub Pages</li>
              </ul>
          </div>
          <img src="../public/images/loancalc.png" alt="Screenshot of Loan App" />
      </article>

        <article>
          <div class="text">
            <h4>WEB 425</h4>
            <h3>GPA Calculator</h3>
            <p class="blackbox">
              Calculates a GPA while using log in functionality and browser cookies. Use log-in 1007 to sign in and use the calculator.
              <a href="https://sowdapop.github.io/bauhaus/">Take a look here</a>.
                </p>
                <h4>Technologies used include:</h4>
                <ul>
                    <li>Angular</li>
                    <li>Material Design</li>
                    <li>GitHub Pages</li>
                </ul>
                </div>
                <img src="../public/images/wl 7 gpa.jpg" alt="Screenshot of the GPA Calculator." />
                </article>

  

                </section>
                </div>
</div>

        <div class="gradient"></div>
                <footer>
                    <ul>
                        <li>
                            <a href="https://www.linkedin.com/in/kayla-mcdanel/" target="_blank">
                                <span class="fab fa-linkedin" aria-hidden="true"></span>
                                <span class="sr-only">LinkedIn</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.github.com/sowdapop" target="_blank">
                                <span class="fab fa-github-square" aria-hidden="true"></span>
                                <span class="sr-only">Github</span>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:ks.mcdanel@gmail.com">
                                <span class="fas fa-envelope" aria-hidden="true"></span>
                                <span class="sr-only">Email</span>
                            </a>
                        </li>
                    </ul>
                    <p><small>&copy; 2022 Kayla McDanel. All rights reserved.</small></p>
                </footer>

</body>
</html>